<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Nombre: Maria Celeste Arraras </h1>
    <h2> Edad: 500 años </h2>
    <h3> Ciudad: Ciudad de mexico </h3>
    <h3> Ocupacion: Telefonista  </h3>
    <p> Pasatiempos: Dormir, dormir y dormir.</p>
    <p> Me gusta leer, escuchar musica y tomar cafe</p>
    <p> y a ti que te gusta? </p>
    <h3> Gracias por visitar mi pagina.</h3>
    
</body>
</html>